body{
    font-family: "Arial";
    padding: 20px;
    text-align: center;
}

h3{
    text-align: left;
}

.choices{
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    height: 200px;
    width: 21%;
}

.choices p{
    margin-bottom: 25px;
}

.choices a:hover{
    cursor: pointer;
}

.choices a{
    background-color: green;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 50px;
    color: white;
    border: none;
    width: 70%;
}

.activities{
    border: 1px solid black;
    white-space: nowrap;
    overflow-y: scroll;
    border-radius: 5px;
    max-height: 200px;
    min-height: 200px;
    text-align: left;
    width: 100%;
}

.activities p{
    font-weight: 600;
    font-size: 14px;
    padding: 0 10px;
}

.gain{
    color: green;
}

.loss{
    color: red;
}